Exploration

In [21]:
import pandas as pd
pd.set_option('display.max_rows', None)

data = pd.read_csv('DataScience_salaries_2024.csv')

res_data = data['employee_residence'].value_counts().reset_index()
res_data.columns = ['employee_residence', 'frequency']

filter_threshold = 0.01
res_data = res_data[res_data['frequency'] / res_data.shape[0] >= filter_threshold]
res_data

   employee_residence  frequency
0                  US      12926
1                  GB        647
2                  CA        390
3                  ES        131
4                  DE         91
5                  IN         74
6                  FR         65
7                  AU         50
8                  PT         30
9                  NL         28
10                 BR         23
11                 IT         21
12                 GR         17
13                 CO         16
14                 LT         16
15                 PL         15
16                 ZA         15
17                 MX         14
18                 LV         14
19                 EG         14
20                 NG         12
21                 IE         12
22                 UA         11
23                 AR         11
24                 EE         11
25                 AT         10
26                 PH          9
27                 CH          8
28                 TR          8
29                 JP          8
30                 VN          6
31                 SI          6
32                 BE          6
33                 NZ          6
34                 PK          6
35                 RU          6
36                 SG          5
37                 PR          5
38                 HR          5
39                 RO          5
40                 AE          5
41                 HU          4
42                 GH          4
43                 TH          4
44                 UZ          3
45                 FI          3
46                 MT          3
47                 SA          3
48                 DK          3
49                 KR          2
50                 BO          2
51                 KE          2
52                 CZ          2
53                 AM          2
54                 CF          2
55                 LB          2
56                 CL          2
57                 MD          2
58                 HK          2
59                 NO          2
60                 BA          2
61                 SE          2
62                 TN          2
63                 EC          1
64                 HN          1
65                 CR          1
66                 RS          1
67                 PE          1
68                 UG          1
69                 IL          1
70                 AS          1
71                 OM          1
72                 AD          1
73                 LU          1
74                 JE          1
75                 KW          1
76                 IQ          1
77                 QA          1
78                 MY          1
79                 GE          1
80                 CY          1
81                 CN          1
82                 DO          1
83                 MU          1
84                 BG          1
85                 IR          1
86                 DZ          1
87                 ID          1

Preprocessing Function

This function turns country code into continent code if the country is less frequent.

In [22]:
import pycountry
import pycountry_convert as pc

def process_location(job_data):
    job_data = job_data.value_counts().reset_index()
    job_data.columns = ['location', 'frequency']
    filter_threshold = 0.5

    def get_continent(country_code):
        country = pycountry.countries.get(alpha_2 = country_code)
        if country:
            return pc.country_alpha2_to_continent_code('RU')
        else:
            return 'Other'
        
    for index,row in job_data.iterrows():
        if row['frequency'] / job_data.shape[0] < filter_threshold:
            job_data.at[index, 'location'] = get_continent(row['location'])

    return job_data['location']


process_location(data['employee_residence'])

0     US
1     GB
2     CA
3     ES
4     DE
5     IN
6     FR
7     AU
8     EU
9     EU
10    EU
11    EU
12    EU
13    EU
14    EU
15    EU
16    EU
17    EU
18    EU
19    EU
20    EU
21    EU
22    EU
23    EU
24    EU
25    EU
26    EU
27    EU
28    EU
29    EU
30    EU
31    EU
32    EU
33    EU
34    EU
35    EU
36    EU
37    EU
38    EU
39    EU
40    EU
41    EU
42    EU
43    EU
44    EU
45    EU
46    EU
47    EU
48    EU
49    EU
50    EU
51    EU
52    EU
53    EU
54    EU
55    EU
56    EU
57    EU
58    EU
59    EU
60    EU
61    EU
62    EU
63    EU
64    EU
65    EU
66    EU
67    EU
68    EU
69    EU
70    EU
71    EU
72    EU
73    EU
74    EU
75    EU
76    EU
77    EU
78    EU
79    EU
80    EU
81    EU
82    EU
83    EU
84    EU
85    EU
86    EU
87    EU
Name: location, dtype: object