Exploration

In [1]:
import pandas as pd
pd.set_option('display.max_rows', None)

data = pd.read_csv('DataScience_salaries_2024.csv')

res_data = data['company_location'].value_counts().reset_index()
res_data.columns = ['company_location', 'frequency']

filter_threshold = 0.01
res_data = res_data[res_data['frequency'] / res_data.shape[0] >= filter_threshold]
res_data

/var/folders/pg/091z68c93wb7x_j1473t961h0000gn/T/ipykernel_96323/293557951.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

   company_location  frequency
0                US      12975
1                GB        655
2                CA        392
3                ES        127
4                DE         98
5                FR         61
6                IN         59
7                AU         53
8                NL         28
9                PT         28
10               BR         21
11               LT         16
12               CO         16
13               MX         15
14               ZA         15
15               IT         14
16               GR         14
17               PL         14
18               LV         14
19               EG         13
20               IE         12
21               EE         12
22               AT         10
23               UA         10
24               NG          9
25               CH          9
26               JP          8
27               RU          7
28               AR          7
29               TR          6
30               PH          6
31               NZ          6
32               SI          6
33               DK          5
34               SG          5
35               AE          5
36               FI          4
37               BE          4
38               VN          4
39               PR          4
40               RO          4
41               HU          4
42               SE          3
43               GH          3
44               CZ          3
45               TH          3
46               MT          3
47               AS          3
48               IL          3
49               LU          3
50               HR          3
51               SA          3
52               KE          2
53               BA          2
54               LB          2
55               CF          2
56               PK          2
57               NO          2
58               ID          2
59               KR          2
60               BS          1
61               MY          1
62               AD          1
63               HN          1
64               OM          1
65               MD          1
66               CL          1
67               AM          1
68               GI          1
69               CN          1
70               IQ          1
71               DZ          1
72               IR          1
73               MU          1
74               QA          1
75               HK          1
76               EC          1

Preprocessing Function

This function turns country code into continent code if the country is less frequent.

In [2]:
import pycountry
import pycountry_convert as pc

def process_location(job_data):
    job_data = job_data.value_counts().reset_index()
    job_data.columns = ['location', 'frequency']
    filter_threshold = 0.5

    def get_continent(country_code):
        country = pycountry.countries.get(alpha_2 = country_code)
        if country:
            return pc.country_alpha2_to_continent_code('RU')
        else:
            return 'Other'
        
    for index,row in job_data.iterrows():
        if row['frequency'] / job_data.shape[0] < filter_threshold:
            job_data.at[index, 'location'] = get_continent(row['location'])

    return job_data['location']


process_location(data['employee_residence'])

0     US
1     GB
2     CA
3     ES
4     DE
5     IN
6     FR
7     AU
8     EU
9     EU
10    EU
11    EU
12    EU
13    EU
14    EU
15    EU
16    EU
17    EU
18    EU
19    EU
20    EU
21    EU
22    EU
23    EU
24    EU
25    EU
26    EU
27    EU
28    EU
29    EU
30    EU
31    EU
32    EU
33    EU
34    EU
35    EU
36    EU
37    EU
38    EU
39    EU
40    EU
41    EU
42    EU
43    EU
44    EU
45    EU
46    EU
47    EU
48    EU
49    EU
50    EU
51    EU
52    EU
53    EU
54    EU
55    EU
56    EU
57    EU
58    EU
59    EU
60    EU
61    EU
62    EU
63    EU
64    EU
65    EU
66    EU
67    EU
68    EU
69    EU
70    EU
71    EU
72    EU
73    EU
74    EU
75    EU
76    EU
77    EU
78    EU
79    EU
80    EU
81    EU
82    EU
83    EU
84    EU
85    EU
86    EU
87    EU
Name: location, dtype: object